
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}

<div class="row">
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-success">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Kaleme Aldığım Blog Sayısı</p>
                        <h2 class="text-white">@ViewBag.one</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-primary"></i>
                </div>
              
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-info">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">İletişime Geçenler</p>
                        <h2 class="text-white">@ViewBag.two</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-secondary"></i>
                </div>
             
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-warning">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">En Çok Yazılan Kategori</p>
                        <h2 class="text-white">@ViewBag.three</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-primary"></i>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-danger">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Gelen Mesaj</p>
                        <h2 class="text-white">2368</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-secondary"></i>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-success">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Giden Mesaj</p>
                        <h2 class="text-white">2368</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-secondary">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Gelen Yorum</p>
                        <h2 class="text-white">2368</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                <h6 class="text-white">20.32% Since last month</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-warning">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Son Blogum</p>
                        <h2 class="text-white">2368</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                <h6 class="text-white">20.32% Since last month</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-info">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">İlk Blogum</p>
                        <h2 class="text-white">2368</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                <h6 class="text-white">20.32% Since last month</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-warning">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Son Yazılan Blog</p>
                        <h2 class="text-white">2368</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                <h6 class="text-white">20.32% Since last month</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-0 pb-lg-0">
        <div class="card bg-danger">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">İlk Yazılan Blog</p>
                        <h2 class="text-white">@ViewBag.ten</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-success">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Yazardan Biriyim</p>
                        <h2 class="text-white">@ViewBag.eleven</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
              
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 stretch-card pb-sm-3 pb-lg-0">
        <div class="card bg-secondary">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Duyuru Sayısı</p>
                        <h2 class="text-white">@ViewBag.twelve</h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
               
            </div>
        </div>
    </div>
    
</div>