@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="~/BreezeAdmin/template/index.html"><img src="~/BreezeAdmin/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="~/BreezeAdmin/template/index.html"><img src="~/BreezeAdmin/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="@ViewBag.image" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">@ViewBag.name @ViewBag.surname</span>
                    <span class="font-weight-normal">@ViewBag.values Blog Yazıldı</span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Weather/SevenDays">
                <i class="fa-light fa-cloud-bolt-moon fa-xl" style="color: #423a8e;"></i> &ensp;
                <span class="menu-title">@localizer["Hava Durumu"]</span>
            </a>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Widget/Index/">
                <i class="fa-light fa-chart-line fa-xl" style="color: #423a8e;"></i> &ensp;
                <span class="menu-title">@localizer["İstatistik"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/GoogleChart/Index/">
                <i class="fa-light fa-chart-pie fa-xl" style="color: #423a8e;"></i> &ensp;
                <span class="menu-title">@localizer["Grafik"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Blog/MyBlogList/">
                <i class="fa-light fa-hand-holding-box fa-xl" style="color: #423a8e;"></i>&ensp;
                <span class="menu-title">@localizer["Bloglarım"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/BreezeAdmin/template/index.html">
                <i class="fa-light fa-headset fa-xl" style="color: #423a8e;"></i>&ensp;
                <span class="menu-title">@localizer["Destek"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/BreezeAdmin/template/index.html">
                <i class="fa-light fa-message-smile fa-xl" style="color: #423a8e;"></i>&ensp;
                <span class="menu-title">@localizer["Mesajlarım"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/BreezeAdmin/template/index.html">
                <i class="fa-light fa-sliders fa-xl" style="color: #423a8e;"></i>&ensp;
                <span class="menu-title">@localizer["Ayarlar"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/SignOut/">
                <i class="fa-light fa-right-from-bracket fa-xl" style="color: #423a8e;"></i>&ensp;
                <span class="menu-title">@localizer["Çıkış Yap"]</span>
            </a>
        </li>

    </ul>
</nav>
